{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Bhoomitra{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'core/style.css' %}">
  <link rel="manifest" href="/manifest.json">

  <link rel="icon" href="{% static 'core/favicon.ico' %}">

  <meta name="theme-color" content="#2196f3">

</head>
<body>
  {% include 'core/header.html' %}

 <main class="main-content">
  {% block content %}{% endblock %}
</main>


  {% include 'core/footer.html' %}



<script>
if ("serviceWorker" in navigator) {
     navigator.serviceWorker.register("/service-worker.js?v=8");
}
</script>

</body>
</html>
