
{% extends "core/base.html" %}
{% load static %}
{% block title %}Bhoomitra – Smart Farming{% endblock %}

{% block content %}

<!-- HERO -->
<section class="landing-hero">
  <div class="container">
    <h1>Smart Soil. Smarter Farming.</h1>
    <p>
      Bhoomitra helps farmers monitor soil health in real time using IoT
      sensors and cloud analytics.
    </p>

    {% if user.is_authenticated %}
      <a href="{% url 'dashboard' %}" class="btn-primary">Go to Dashboard</a>
    {% else %}
      <a href="{% url 'login' %}" class="btn-primary">Get Started</a>
    {% endif %}
  </div>
</section>

<!-- FEATURES -->
<section class="landing-section">
  <div class="container">
    <h2 class="section-title">What Bhoomitra Does</h2>

<div class="feature-grid">

  <div class="feature-box">
    <img src="{% static 'core/images/npk.png' %}" alt="NPK Monitoring">
    <h4>NPK Monitoring</h4>
    <p>Track nitrogen, phosphorus and potassium in real time.</p>
  </div>

  <div class="feature-box">
    <img src="{% static 'core/images/iot.jpeg' %}" alt="IoT Sensors">
    <h4>IoT Enabled</h4>
    <p>Works seamlessly with smart field sensors.</p>
  </div>

  <div class="feature-box">
    <img src="{% static 'core/images/Dashboard.png' %}" alt="Dashboard">
    <h4>Live Dashboard</h4>
    <p>View your devices.</p>
  </div>

  <div class="feature-box">
    <img src="{% static 'core/images/DataPage.png' %}" alt="Cloud">
    <h4>Data Storage & Analysis</h4>
    <p>Visual insights with real-time and historical graphs.</p>
  </div>

</div>


  </div>
</section>

<!-- PRODUCT SHOWCASE -->
<section class="landing-section">
  <div class="container">
    <h2 class="section-title">Our Product</h2>

    <div class="product-grid">
      <div class="product-card">
        <img src="{% static 'core/images/product1.jpeg' %}" alt="Soil Sensor">
        <h4>Soil Sensor Unit</h4>
      </div>

      <div class="product-card">
        <img src="{% static 'core/images/product3.jpeg' %}" alt="Gateway">
        <h4>Gateway Device</h4>
      </div>

      <div class="product-card">
        <img src="{% static 'core/images/Dashboard.png' %}" alt="Dashboard">
        <h4>Web Dashboard</h4>
      </div>
      <div class="product-card">
        <img src="{% static 'core/images/DataPage.png' %}" alt="Dashboard">
        <h4>Data Analytics</h4>
      </div>
    </div>
  </div>
</section>

<!-- CTA -->
<section class="landing-cta">
  <h2>Grow Smarter with Bhoomitra</h2>
  <a href="{% url 'login' %}" class="btn-primary">Start Now</a>
</section>

{% endblock %}
