{% extends 'core/base.html' %}
{% load socialaccount %}

{% load static %}

{% block title %}Login | Bhoomitra{% endblock %}

{% block content %}
<div class="form-container">
  <h2>Login to Your Account</h2>

  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if form.non_field_errors %}
    <ul class="messages">
      {% for error in form.non_field_errors %}
        <li class="error">{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <form method="post">
    {% csrf_token %}
    <div class="input-group">
      {{ form.username.label_tag }}
      {{ form.username }}
      {% if form.username.errors %}
        <ul class="errorlist">
          {% for error in form.username.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    <div class="input-group">
      {{ form.password.label_tag }}
      {{ form.password }}
      {% if form.password.errors %}
        <ul class="errorlist">
          {% for error in form.password.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    <button type="submit" class="btn-primary">Login</button>
  </form>

  <p class="form-note">Don't have an account? <a href="{% url 'register' %}">Register here</a>.</p>
 
<a class="btn-google" href="{% provider_login_url 'google' %}">
    Sign in with Google
</a>


</div>
{% endblock %}
